body {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.unit {
    margin-left: 5px;
}

#result {
    margin-top: 10px;
    font-weight: bold;
}
